<%- include('./layouts/head') %>
    
<main>
    <section>
        <div class="news-container ">
            <div class="news "> 
                <% articles.forEach(function(article,index){ %>
                    <% if 
                        ((typeof article.url=='object') || 
                        (typeof article.title=='object') || 
                        (typeof article.urlToImage=='object') || 
                        (typeof article.content=='object')){ %>
                        <% } else{ %>
                            <a href="<%- article.url %>" target="_blank" class="news-box">
                                <img src="<%- article.urlToImage %>" alt="Image">
                                <h3><%- article.title %></h3>
                                <p><%- article.content.replace(/<[^>]+>/g, '') %></p>
                                <br>
                            </a>
                        <% } %>
                <% }) %>
            </div>
        </div>
    </section>
</main>

        
        
            
  
    


<%- include('./layouts/foot') %>